$font-body: 'Roboto', sans-serif;
$backgndImage: '../images/bg.gif';
$logo: '../images/logo.png';
$mediaImage: '../images/social-media.png';

$backgndColor:#FFF;
$red: #E65C43;
$grey: #666;
$black: #000;
$brickRed: #F25C43;
$white: #F5F6F6; 
$darkGrey: #30353D;
$width:940px;